# =========================
# Compiled files
# =========================
*.class

# =========================
# Build folders
# =========================
target/
build/

# =========================
# Package files
# =========================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# =========================
# Logs
# =========================
*.log

# =========================
# JVM crash logs
# =========================
hs_err_pid*
replay_pid*

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp files
# =========================
*.tmp
*.swp